
html {
	border:none; 
	margin:0; 
	padding:0;
	background: #000000; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #000000 0%, #252525 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #000000 0%,#252525 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #000000 0%,#252525 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3f3f3f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin:0; 
	overflow: hidden;
	color: #FFFFFF;
	font-family: system-ui, monospace;
}

iframe {
	display: block;
	border: none;
	margin:0; 
	padding:0; 
	overflow:auto; 
	background-color:#000000;
}

.topbar {
	touch-action: none;
	display: flex;
	font-size: 20px;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	/* height: calc(1em + 22px); */
	min-height: 1.5em;
	background: #252525;
	background: linear-gradient( to top, rgba(75,75,75,1) 0%, rgba(0,0,0,1) 100% ) left bottom #000000 no-repeat; 
	background-size: 100% 5px;
	padding: 7px 0;
}

.topbar.mobile {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: transform 0.5s;
	font-size: 24px;
	flex-direction: column;
}

.topbar.mobile img {
	height: 60px;
}

.topbar.mobile .info {
	padding-bottom: 18px;
}
.topbar.mobile .title{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.topbar.mobile .logo img{
	display: none;
}

.topbar.mobile .button {
	padding-right: 16px;
}

.topbar.mobile.hidden {
	position: fixed;
	left: 0;
	width: 100%;
	transform: translateY(-100%);
}

.topbar.fullscreen .tab img {
	height: 32px;
}

.topbar.fullscreen img {
	height: 32px;
}

.topbar div {
	display: flex;
	align-items: center;
}

.topbar .tab {
	top: calc(100% - 4px);
	right: 25px;
	position: absolute;
	background: black;
	background: linear-gradient( to top, rgba(75,75,75,1) 0%, rgba(0,0,0,1) 10% ) left bottom #000000 no-repeat; 
	padding: 10px;
	border-radius: 0 0 6px 6px;
}

.topbar .tab.hidden {
	display:none;
}

.topbar .tab.active img {
	transform: scale(1, -1);
}

.topbar .tab img {
	height: 72px;
	transform: scale(1, 1);
	transition: transform 0.2s;
}

.topbar .logo {
	padding: 0 0.5em 0 0.5em;
	cursor: pointer;
	height: 30px;
}

.topbar .button {
	margin: 0 .125em 0 .125em;
	font-size: 0;
	cursor: pointer;
	display: none;
}

.topbar .lock {
	opacity: 1;
	transition: opacity 0.3s;
	cursor: default;
}

.topbar .unlock {
	opacity: 0.2;
	transition: opacity 0.3s;
	cursor: default;
}

.topbar .script {
	cursor: default;
}

.topbar .autoplay {
	cursor: default;
}

.topbar .menu {
	margin-right: 8px;
	display: inline-block;
}

.topbar .title { /* titles */
	font-weight: lighter;
	vertical-align: top;
	padding: 0 1em 0 1em;
	color: #AAAAAA;
	white-space: nowrap;
}

.topbar .value { /* details */
	font-weight: lighter;
	vertical-align: bottom;
	min-width: 0;
	color: #FFFFFF;
	margin-left: 2px;
}

.topbar .info {
	display: none;
}

.topbar img {
	height: 30px;
}

.logScreen {
	font-family: monospace;
	font-size: larger;
	position:absolute;
	background: white;
	color: black;
	height: 90%;
	width: 90%;
	top: 5%;
	left: 5%;
	padding: 1%;
	overflow: auto;
}

.topbar .housing{
	height: 100%;
}

.topbar .info {

}

.progressGCM {
	position:fixed;
	top: 30%;
	left: 37.5%;
	text-align: center;
	font-family: system-ui, monospace;
	font-size: larger;
}

.progressGCM.black {
	background: #000000; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #000000 0%, #252525 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #000000 0%,#252525 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #000000 0%,#252525 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3f3f3f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.progressGCM img {
	height: auto;
	width: 25vw;
}

.progressGCM.black img,
.progressGCM.black p  {
	height: auto;
	position: fixed;
	left: 37.5vw;
	width: 25vw;
}

.progressGCM.black img {
	top: 20%;
}

.progressGCM.black p {
	top: 30%;
}

.time {
	background: #252525;
	background: linear-gradient( to bottom, rgba(75,75,75,1) 0%, rgba(0,0,0,1) 100% ) left 0 #000000 no-repeat; 
	background-size:100% 5px;
	position: fixed;
	text-align:center;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	width: 100vw;
	bottom: 0;
	font-size: 12px; 
}

.sidebar {
	width:0vw;
	height:100vh;
	float:left;
}

.gameframe {
	float:left;
	border:none; 
	background-color:#000000; 
	margin:0;
	padding:0; 
	overflow:auto; 
	width:100%;
}

.arrow {
	position:absolute;
	left:1%;
	top:10%;
}

.arrow.hidden {
	display:none;
}

.arrow img {
	opacity: 0.4;
	transform: scale(-1, 1);
	transition: transform 0.2s;
	height:5vh;
	width:auto;
}

.errorBacking {
	position:absolute;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	background-color: rgba(0,0,0,0.2);
}

.errorBox{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	font-family:  system-ui, monospace;
	background: #252525;
	background: linear-gradient( to top, rgba(75,75,75,1) 0%, rgba(0,0,0,1) 2% ) left bottom #000000 no-repeat; 
	max-width:24em;
	min-height:8em;
	margin-top:20vh;
	border-radius:5px;
	padding:12px;
	padding-bottom: 16px;
	box-shadow: 2px 10px 29px 0px rgba(17,17,17,0.72);
	opacity:1;
	transition:opacity .2s;
}

.errorBox img {
	height: 20px;
	width: auto;
	padding-bottom: 5px;
}

.errorBox .text{
	text-align:center;
	background:#FFF;
	border-radius: 3px;
	color:#000;
	padding:0.5em;
	font-weight: lighter;
	font-size:1.75em;
	margin-bottom:0.7em;
}

.errorBox .flex{
	display:flex;
	padding:0em 1em;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items: center;
}

.errorBox .button{
	cursor:pointer;
	color:#fff;
	padding: 4px 12px;
	border-radius: 3px;
	font-size:1.75em;
}

/*colors*/
.errorBox .red{
	background-color:#8B0D0D;
	border-width:1px;
	border-color:#410606;
	border-style:solid;
}

.errorBox .green{
	background-color:#0C7D21;
	border-width:1px;
	border-color:#042E07;
	border-style:solid;
}

.errorBox .blue{
	background-color:#0E2E98;
	border-width:1px;
	border-color:#07184F;
	border-style:solid;
}

.errorBox .black{
	background-color:#04295;
	border-width:1px;
	border-color:#222;
	border-style:solid;
}

.errorBox .white{
	background-color:#ddd;
	color:#222;
}