<div id="wrapper">
    <div id="turbo">
        <h3 class="header">{{ RS.Translations.TurboMode.Title }}</h3>
        <ul id="rs-turbo-list">
            <li id="rs-turbo-line1">{{ RS.Translations.TurboMode.Line1}}</li>
            <li id="rs-turbo-line2">{{ RS.Translations.TurboMode.Line2}}</li>
            <li id="rs-turbo-line3">{{ RS.Translations.TurboMode.Line3}}</li>
            <li id="rs-turbo-line4">{{ RS.Translations.TurboMode.Line4}}</li>
        </ul>
    </div>
</div>

<div id="legal">
    <h3 class="header">{{ RS.Translations.Paytable.Disclaimer.Title }}</h3>
    <ul id="rs-legal-list">
        <li id="rs-maxwin" class="rs-needs-maxwin">{{ RS.Translations.Paytable.Disclaimer.MaxWin, maxWin=MaxWin }}</li>
        <li id="rs-maxbet" class="rs-ntonly">{{ RS.Translations.Paytable.Disclaimer.MaxBet, maxBet=MaxBet }}</li>

        <li id="rs-rtp-multi">{{ RS.Translations.Paytable.Disclaimer.RTP, minRTP=RTP(name="min"), maxRTP=RTP(name="max") }}</li>
        <li id="rs-rtp-single">{{ RS.Translations.Paytable.Disclaimer.SingleRTP, RTP=RTP(name="single") }}</li>

        <li id="rs-chances">{{ RS.Translations.Paytable.Disclaimer.Independent }}</li>
        <li id="rs-outcome">{{ RS.Translations.Paytable.Disclaimer.Outcome }}</li>
        <li id="rs-malfunction">{{ RS.Translations.Paytable.Disclaimer.Malfunction }}</li>

        <!-- Norsk Tipping legal information -->
        <li id="rs-ntjackpot" class="rs-ntonly rs-jackpotonly">{{ RS.Translations.Paytable.Disclaimer.HasJackpot }}</li>
        <li id="rs-ntwinnings" class="rs-ntonly rs-jackpotonly">{{ RS.Translations.Paytable.Disclaimer.Winnings }}</li>
        <li id="rs-ntnojackpot" class="rs-ntonly rs-nojackpot">{{ RS.Translations.Paytable.Disclaimer.NoJackpot }}</li>

        <li id="rs-ntskills" class="rs-ntonly">{{ RS.Translations.Paytable.Disclaimer.Skills }}</li>
        <li id="rs-ntinfluence" class="rs-ntonly">{{ RS.Translations.Paytable.Disclaimer.NoInfluence }}</li>
        <li id="rs-ntunfinished" class="rs-ntonly">{{ RS.Translations.Paytable.Disclaimer.Unfinished }}</li>
        <li id="rs-ntunfinishedexample" class="rs-ntonly">{{ RS.Translations.Paytable.Disclaimer.UnfinishedExample }}</li>
        <li id="rs-ntresuming" class="rs-ntonly">{{ RS.Translations.Paytable.Disclaimer.Resuming }}</li>
        <li id="rs-ntstored" class="rs-ntonly">{{ RS.Translations.Paytable.Disclaimer.Stored }}</li>
        <li id="rs-nttimeout" class="rs-ntonly">{{ RS.Translations.Paytable.Disclaimer.Timeout }}</li>

        <!-- Copyright -->
        <li id="rs-copyright" class="rs-notnt">{{ RS.Translations.Paytable.Disclaimer.Copyright, year=CopyrightYear }}</li>
        <li id="rs-copyright-en" class="rs-notnt"><span class="rs-locale-text">TM and © { CopyrightYear } Scientific Games Corp. and its Subsidiaries. All rights reserved.</span></li>
    </ul>
</div>