<div id="jackpot">
    <h3 class="rs-jackpot-syndicate header">{{Red7.Syndicate.Translations.Syndicate.Paytable.Title}}</h3>
    <ul id="rs-jackpot-syndicate-list" class="rs-jackpot-syndicate">
        <li>{{Red7.Syndicate.Translations.Syndicate.Paytable.Line1}}</li>
        <li>{{Red7.Syndicate.Translations.Syndicate.Paytable.Line2}}</li>
        <li>{{Red7.Syndicate.Translations.Syndicate.Paytable.Line3}}</li>
        <li>{{Red7.Syndicate.Translations.Syndicate.Paytable.Line4}}</li>
        <li>{{Red7.Syndicate.Translations.Syndicate.Paytable.Line5}}</li>
        <li>{{Red7.Syndicate.Translations.Syndicate.Paytable.Line6}}</li>
        <li id="rs-jackpot-syndicate-line7">{{Red7.Syndicate.Translations.Syndicate.Paytable.Line7}}</li>
        <li>{{Red7.Syndicate.Translations.Syndicate.Paytable.Line8}}</li>
        <li>{{Red7.Syndicate.Translations.Syndicate.Paytable.Line9}}</li>
        <li>{{Red7.Syndicate.Translations.Syndicate.Paytable.Line10}}</li>
        <li>{{Red7.Syndicate.Translations.Syndicate.Paytable.Line11}}</li>
        <li>{{Red7.Syndicate.Translations.Syndicate.Paytable.Line12}}</li>
        <li>{{Red7.Syndicate.Translations.Syndicate.Paytable.Line13}}</li>
        <li>{{Red7.Syndicate.Translations.Syndicate.Paytable.Line14}}</li>
        <li>{{Red7.Syndicate.Translations.Syndicate.Paytable.Line15}}</li>
    </ul>

    <h3 class="rs-jackpot-alone-only header">{{Red7.MegaDrop.Translations.MegaDrop.Paytable.Title}}</h3>
    <ul id="rs-jackpot-alone-list" class="rs-jackpot-alone-only">
        <li>{{Red7.MegaDrop.Translations.MegaDrop.Paytable.Text1}}</li>
        <li>{{Red7.MegaDrop.Translations.MegaDrop.Paytable.Text2}}</li>
        <li>{{Red7.MegaDrop.Translations.MegaDrop.Paytable.Text3}}</li>
        <li id="rs-jackpots-alone-text4">{{Red7.MegaDrop.Translations.MegaDrop.Paytable.Text4Alt}}</li>
        <li>{{Red7.MegaDrop.Translations.MegaDrop.Paytable.Text5}}</li>
        <li>{{Red7.MegaDrop.Translations.MegaDrop.Paytable.Text6}}</li>
        <li>{{Red7.MegaDrop.Translations.MegaDrop.Paytable.Text7}}</li>
        <li>{{Red7.MegaDrop.Translations.MegaDrop.Paytable.Text8}}</li>
        <li>{{Red7.MegaDrop.Translations.MegaDrop.Paytable.Text9}}</li>
    </ul>

    <h3 class="rs-jackpot-legal-title header rs-jackpot-alone">{{Red7.MegaDrop.Translations.MegaDrop.Paytable.Title}} {{ RS.Translations.Paytable.Disclaimer.Title }}</h3>
    <ul id="rs-jackpot-legal" class="rs-jackpot-alone">
        <li>{{Red7.MegaDrop.Translations.MegaDrop.Paytable.Legal.Text1}}</li>
        <li>{{Red7.MegaDrop.Translations.MegaDrop.Paytable.Legal.Text2}}</li>
        <li class="rs-needs-maxwin" id="rs-jackpots-legal-text3">{{Red7.MegaDrop.Translations.MegaDrop.Paytable.Legal.Text3}}</li>
    </ul>

    <div id="legal">
        <ul id="rs-legal-list">
            <li id="rs-outcome"></li>
            <li id="rs-jackpot-chances" class="rs-jackpot-alone">{{Red7.MegaDrop.Translations.MegaDrop.Paytable.Legal.Outcome}}</li>
            <li id="rs-chances" class="rs-jackpot-none-only"></li>
            <li id="rs-rtp-single"></li>
            <li id="rs-malfunction"></li>
        </ul>
    </div>
</div>