@font-face
{
    font-family: rsSkipFont;
    src: url("../assets/shared/fonts/myriad-pro/myriad-pro-black.otf");
}

#rs-skip
{
    color: white;
    font-family: 'rsSkipFont', 'Courier New', Courier, monospace;
    font-size: 1.2em;
    left: 0px;
    right: 0px;
    bottom: 80px;
}