#chrome-swipeup {
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.6);
  color: #fff;
}
#chrome-swipeup-label {
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
@media (min-aspect-ratio: 3/2) {
  #chrome-swipeup {
    padding: 1vh;
    border: 1vh solid #fff;
    border-radius: 3vh;
    width: 90vh;
    height: 10vh;
    box-shadow: #000 0 1vh 1vh;
  }
}
@media (max-aspect-ratio: 3/2) {
  #chrome-swipeup {
    padding: 0.666vw;
    border: 0.666vw solid #fff;
    border-radius: 2vw;
    width: 60%;
    height: 6.666vw;
    box-shadow: #000 0 0.66vh 0.66vh;
  }
}
