.rs-btn {
  cursor: pointer;
  pointer-events: auto;
  display: table;
}
.rs-btn-label {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
rs-txt-white {
  color: #fff;
}
.rs-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}
.rs-autoscale {
  transform-origin: left top;
  overflow: hidden;
}
#fps-counter {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100px;
  z-index: 9999;
  font-family: "Verdana", sans;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  color: #ff0;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
