#game-placeholder {
  width: 175px;
  height: 120px;
  background-image: url("../img/core/logo.png");
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
#game-placeholder div {
  width: 100%;
  bottom: 0px;
  font-size: 20px;
}
