html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -o-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: manipulation;
}
.rs-cmp {
  position: absolute;
  background-repeat: no-repeat;
}
body {
  overflow: auto;
  user-select: none;
  position: static;
}
#rs-w {
  width: 100%;
  height: 100%;
  background-color: #000;
  text-align: center;
  z-index: 0;
  overflow: hidden;
  left: 0px;
  top: 0px;
}
.rs-system-container {
  z-index: 99;
  border-right: 1px solid #000;
}
#rs-g {
  width: 100%;
  height: 100%;
  border-right: 1px solid #000;
}
.time-display-default {
  text-align: right;
  color: #fff;
  font-size: 6vh;
  font-family: Arial;
}
.rs-fullscreen {
  width: 100vw;
  height: 100vh;
}
