#ios-swipeup {
  position: absolute;
  width: 100%;
  height: 450px;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.75) url("../img/core/swipeup.gif") center 100px no-repeat;
  background-size: 5% auto;
  color: #fff;
  z-index: 999;
  font-size: 36px;
  padding-top: 10%;
  text-align: center;
  pointer-events: auto;
}
