#rs-pl {
  background-color: #000;
  z-index: 13;
  background-image: url("../img/core/LoadingIcon.png");
  background-position: center 15%;
  background-size: auto;
}
#rs-pl-lbb {
  border: 1px solid #fff;
}
#rs-pl-lb {
  background: linear-gradient(left, #9f0000, #a90204, #b80507);
}
