#rs-rt {
  background-color: #000;
  z-index: 9999;
  background-image: url("../img/core/RotateIcon.gif");
  background-position: center 15%;
  background-size: 40%;
  pointer-events: auto;
  width: 100%;
  height: 100%;
}
@media (orientation: landscape) {
  #rs-rt.portrait {
    display: none;
  }
  #rs-rt.landscape {
    display: block;
  }
}
@media (orientation: portrait) {
  #rs-rt.portrait {
    display: block;
  }
  #rs-rt.landscape {
    display: none;
  }
}
