<head>
    <title>My Game</title>
    <link rel="stylesheet" type="text/css" href="example.css" />
</head>

<body>
    <div id="wrapper">
        <div id="title">
            <h1 class="header">My Game</h1>
        </div>

        <span>This is a variable: { MaxWin }</span><br/>
        <span>This is a function: { RTP(name="MyRTP") }</span><br/>

        <div id="legal">
            <ul id="rs-legal-list">
                <li id="mygame-mylegal">This is an additional legal line: {{ MyGame.Translations.Legal.Example }}</li>
                <li id="rs-copyright" meta-overwrite>Only this text will appear.</li>
                <li id="rs-rtp-multi" meta-remove>This element won't appear in the result.</li>
            </ul>
        </div>
    </div>
</body>
